<?xml version="1.0"?>
<launch>

    <arg name="model_package" default="my_first_ros_package" /> 
    <arg name="urdf_file" default="my_robot.urdf" />

    <param name="robot_description" textfile="$(find my_first_ros_package)/robot_urdf/$(arg urdf_file)" />
 
    <node pkg ="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_1">
    
    </node>
    
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_1">
    </node> 

    <node pkg="rviz" type="rviz" name="rviz_1"
     args="-d $(find my_first_ros_package)/rviz/rviz_1.rviz">
        
    </node>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_1"
     args="0 0 0 0 0 0 map base_footprint 20">

    </node>
    
</launch>